/* .card-body {
    padding: 1%;
    width: 64vw;
}

.chart-container {
    position: relative; 
    height: 40vh;
}

.dropdown-box {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
}*/

.card-body {
    padding : 1%;
    /* width : 64vw; */
}

.search-box .slds-grid.slds-wrap {
    display: grid;
    grid-template-columns: repeat(6, 300px);
}

.search-box .align-right {
    grid-column-start: 3;
}

.search-box .btn-right {
    float: right;
}

/* .info-section {
    border: 1px solid rgb(201, 201, 201);
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
} */

.chart-container {
    position: relative;
    height: 40vh;
    width : 64vw;
}

.dropdown-box {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
}

.table-page {
    margin-top: 20px;
    width : 64vw;
}

.table-page > p {
    display: flex;
    justify-content: end;
    margin-right: 4px;
    margin-bottom: 8px;
}

.table-grid {
    /* border: 1px solid rgb(0 0 0 / 25%); */
    /* border-radius: 8px; */
}

.table-body {
    display: grid;
    grid-template-columns: 5.5% repeat(12, 7.875%);
    border-bottom: 1px solid #EBEBEB;
}

.table-body.actual, .table-body.project, .table-body.oppty  {
    margin-bottom: 2px;
}

.table-body__cell:nth-child(1) {
    font-weight: bold;
    font-size: small;
}

.table-body .table-body__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid rgb(0 0 0 / 25%); */
    /* height: 40px; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.table-body.month .table-body__cell {
    color: #A0A0A0;
}

.table-body .table-body__cell:last-child {
    border-right: none!important;
}

.table-body.actual div:nth-child(1) {
    border-left: 10px solid #D1EBB6;
    border-radius: 5px;
    color: #91D449;
    padding-left: 12px;

}

.table-body.project div:nth-child(1) {
    border-left: 10px solid #DBE6FF;
    border-radius: 5px;
    color: #709BFF;
    padding-left: 12px;
}

.table-body.oppty div:nth-child(1) {
    border-left: 10px solid #C7D6F2;
    border-radius: 5px;
    color: #1F5CCB;
    padding-left: 12px;
}

.none-right {
    border-right: none!important;
}

.none-bottom {
    border-bottom: none!important;
}

.none-left {
    /* border-left: none!important; */
}

.right {
    /* justify-content: right!important; */
    padding-right: 5px;
}

.span-title {
    margin-left: 4px;
    margin-bottom: 8px;
    font-weight: bold;
}

.center {
    justify-content: center!important;
}

.month {
    font-weight: bold;
}

.search-btn {
    align-self: flex-end!important;
}